/* Estilos Generales */

body {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

html {
    scroll-behavior: smooth;
  }
  
.logo img{
    /*width: 150PX 150px;*/
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* menu config */

.menu_navegacion{
    font-size: 18px;    
    letter-spacing: 2px;
    font-family: "Montserrat", serif;
    ont-weight:lighter;
    margin: 15px 20px;
    padding: 20px;

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu_navegacion ul {
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
    }
}
  /*Seccion de los desafio finales */

  .galeria-desafios {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding: 3rem 1.5rem;
	background-color: #0a0a0a;
	font-family: 'Montserrat', sans-serif;
  }
  
  .tarjeta-desafio {
	background-color: #1c1c1c;
	border-radius: 12px;
	padding: 1.5rem;
	max-width: 300px;
	text-align: center;
	color: white;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tarjeta-desafio:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 12px #D60B52;
  }
  
  .imagen-desafio {
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 1rem;
  }
  
  .titulo-desafio {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	color: #ffffff;
  }
  
  .descripcion-desafio {
	font-size: 0.95rem;
	margin-bottom: 1rem;
	color: #ccc;
  }
  
  .boton-desafio {
	background-color: #D60B52;
	border: none;
	padding: 0.6rem 1.2rem;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;
	color: #000;
	transition: background 0.3s;
  }
  
  .boton-desafio:hover {
	background-color: #9d00ff;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
	.tarjeta-desafio {
	  width: 90%;
	}
  }
