/* Estilos Generales */

body {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

html {
    scroll-behavior: smooth;
  }

/*Carrito de compra */

  .carrito-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #111;
  color: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.4);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carrito-panel.visible {
  transform: translateX(0);
}

.carrito-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
}

.cerrar-carrito {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.carrito-contenido {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.carrito-footer {
  padding: 1rem;
  border-top: 1px solid #444;
}

.carrito-footer button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ff3b80;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
/*Seccion de entrevistas Endrik */

  .entrevista-neond {
	background-color: #662d91; 
	color: white;
	padding: 4rem 2rem;
	font-family: 'Montserrat', sans-serif;
	
  }
  
  .contenedor-entrevista {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	gap: 3rem;
  }
  
  .imagen-entrevista img {
	width: 100%;
	max-width: 400px;
	border-radius: 10px;
	display: block;
  }
  
  .texto-entrevista {
	max-width: 600px;
  }
  
  .texto-entrevista h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	font-weight: 700;
  }
  
  .texto-entrevista p {
	font-size: 1rem;
	line-height: 1.7;
	margin-bottom: 1rem;
	color: #fff;
  }
  
  .texto-entrevista strong {
	font-family: 'Montserrat', sans-serif;
	color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
	.contenedor-entrevista {
	  flex-direction: column;
	  text-align: center;
	}
  
	.texto-entrevista {
	  max-width: 90%;
	}
  }
